stages:
  - test
  - build
  - deploy
  - release

test:
  image: $IMAGE

  stage: test
  cache:
    paths:
      - .cache/pip

  variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
    # Limit number of threads for parallel regions
    OMP_NUM_THREADS: 1

  before_script:
    - pip install .[test]

  except:
    - schedules

  script:
    - pytest --cov=laia --durations=10 tests

  parallel:
    matrix:
      - IMAGE:
        - python:3.9
        - python:3.10

lint:
  image: python:3.10
  stage: test

  cache:
    paths:
      - .cache/pip
      - .cache/pre-commit

  variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
    PRE_COMMIT_HOME: "$CI_PROJECT_DIR/.cache/pre-commit"

  before_script:
    - pip install pre-commit

  except:
    - schedules

  script:
    - pre-commit run -a


deploy-pypi:
  stage: release
  image: python:3.10

  only:
    - tags

  environment:
    name: pypi
    url: https://pypi.org/project/pylaia/

  before_script:
    - pip install twine

  script:
    - python setup.py sdist bdist_wheel
    - twine upload dist/*

release-notes:
  stage: release
  image: registry.gitlab.teklia.com/infra/devops:latest

  only:
    - tags

  script:
    - devops release-notes

bump-python-deps:
  stage: release
  image: registry.gitlab.teklia.com/infra/devops:latest

  only:
    - schedules

  script:
    - devops python-deps requirements.txt

# Make sure docs still build correctly
.docs:
  image: python:3.10
  artifacts:
    paths:
      - public

  before_script:
    - pip install -e .[docs]

  script:
    - mkdocs build --strict --verbose

docs-build:
  extends: .docs
  stage: build

  # Test job outside of tags to ensure the docs still can build before merging
  # Does not use the `pages` name, therefore will be ignored by GitLab Pages
  except:
    - tags
    - schedules

pages:
  extends: .docs
  stage: deploy

  only:
    - master
    - tags

  except:
    - schedules

docs-deploy:
  image: node:18
  stage: deploy

  dependencies:
    - docs-build

  before_script:
    - npm install -g surge

  except:
    - master
    - tags
    - schedules

  environment:
    name: ${CI_COMMIT_REF_SLUG}
    url: https://${CI_COMMIT_REF_SLUG}-teklia-atr-pylaia.surge.sh
    on_stop: docs-stop-surge

  script:
    - surge public ${CI_ENVIRONMENT_URL}

docs-stop-surge:
  image: node:18
  stage: deploy
  when: manual

  # Do not try to checkout the branch if it was deleted
  variables:
    GIT_STRATEGY: none

  except:
    - master
    - tags
    - schedules

  environment:
    name: ${CI_COMMIT_REF_SLUG}
    url: https://${CI_COMMIT_REF_SLUG}-teklia-atr-pylaia.surge.sh
    action: stop

  before_script:
    - npm install -g surge

  script:
    - surge teardown ${CI_ENVIRONMENT_URL}
