[submodule "third_party/nnutils"]
	path = third_party/nnutils
	url = https://github.com/jpuigcerver/nnutils
[submodule "third_party/warp-ctc"]
	path = third_party/warp-ctc
	url = https://github.com/jpuigcerver/warp-ctc.git
	branch = pytorch_bindings
[submodule "egs/icdar2015kws/src/htrsh"]
	path = egs/icdar2015kws/src/htrsh
	url = https://github.com/mauvilsa/htrsh.git
[submodule "third_party/prob-phoc"]
	path = third_party/prob-phoc
	url = https://github.com/jpuigcerver/prob-phoc.git
