[submodule "third_party/nnutils"]
	path = third_party/nnutils
	url = https://github.com/jpuigcerver/nnutils
[submodule "third_party/imgdistort"]
	path = third_party/imgdistort
	url = https://github.com/jpuigcerver/imgdistort.git
	branch = npp
[submodule "third_party/warp-ctc"]
	path = third_party/warp-ctc
	url = https://github.com/jpuigcerver/warp-ctc.git
	branch = pytorch_bindings
[submodule "egs/icdar2015kws/src/htrsh"]
	path = egs/icdar2015kws/src/htrsh
	url = https://github.com/mauvilsa/htrsh.git
