exclude: egs/*
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.3.0
    hooks:
    - id: check-yaml
    - id: trailing-whitespace
    - id: end-of-file-fixer
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
