language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"

notifications:
  email:
    on_success: change
    on_failure: always

before_install:
  - pip install cffi
  - ./travis/install_pytorch.sh
  - ./travis/update_submodules.sh
  - ./travis/build_nnutils.sh
  - ./travis/build_warp_ctc.sh

install:
  - python setup.py install

script:
  - ./travis/run_tests.sh
