site_name: PyLaia
site_dir: public

theme:
  name: material

  font:
    text: Roboto
    code: Roboto Mono

  features:
  - navigation.top
  - navigation.tracking
  - navigation.indexes
  - navigation.instant
  - navigation.instant.progress
  - content.code.copy

  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
- search
- autorefs

nav:
  - Home: index.md
  - Original paper: original_paper.md
  - Get started:
    - get_started/index.md
    - Development: get_started/development.md
  - Usage:
    - usage/index.md
    - Dataset: usage/datasets/index.md
    - Model initialization: usage/initialization/index.md
    - Training: usage/training/index.md
    - Prediction: usage/prediction/index.md
    - Netout: usage/netout/index.md
    - Explicit language modeling: usage/language_models/index.md
  - Releases: releases.md

copyright:  Copyright &copy; Teklia

extra:
  social:
    - icon: fontawesome/brands/github
      name: Git repository for this project
      link: https://gitlab.teklia.com/atr/pylaia

markdown_extensions:
  - pymdownx.superfences
  - admonition
